.profile {
	text-align: center;
}

.profile img {
	display: inline-block;
	
	margin: 0 auto 1.25em;
}

.profile h4 {
	margin-bottom: .85em;
	
	font-size: 18px;
}

.profile .profile-title {
	margin-bottom: 1em;
	
	color: #777;
	
	font-size: 16px;
	font-style: italic;
}

.choose-item h3 i {
	margin-right: .4em;
	color: #F90;
}

.choose-item h3 {
	margin-bottom: 0;
	font-size: 14px;
}

.choose-item h3 p {
	display: inline;
}